:root{
  --primary-color: #047aed;
  --secondary-color: #e2e8ee;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

label {
  display: block;
  margin-top: 10px;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

textarea{
  width: 480px;
}

.center {
  width: 75%;
  margin: 0px auto;
  text-align: center
}
.center-100 {
  width: 93%;
  margin: 0px auto;
  text-align: center
}
/* Footer */
#footer {
  background: #f7f7f7 !important;
  width: 100%;
  height: 31px;
  line-height: 30px;
  color: #444;
  left: 0px !important;
  bottom: 0px !important;
  margin: 0 auto !important;
  position: fixed;
}

/* Barra  */
.barnav{
  background-color: var(--secondary-color);
  color: rgb(34, 89, 238);
  height: 70px;
  margin: 10px 0;
}

.barnav ul {
  display: flex;
}

.barnav a {
  color: #07f51b;
  padding: 10px;
  margin: 10px 5px;
}

.barnav a:hover {
  color: #f50707;
}

.barnav .flex-gn {
  justify-content: space-between;
}

.flex-gn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase-form .form-control {
  margin: 10px 0;
  border: 0px;
}
.form-control legend{
  font-size: 14px;
}

.legenda{
  margin-bottom: -20px !important;
}

.cli-search{
  z-index: 1000;
  position: absolute;
  height: auto;
}

.showcase-form input[type='text'],
.showcase-form input[type='textarea'],
.showcase-form input[type='email'],
.showcase-form input[type='number'],
.showcase-form input[type='password'],
.selector {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.active{
  border-bottom:2px solid #3cb2d3;  
  text-decoration: solid;
  color: #37f326;
}

.bg-1{
  background-color: #0cbdee;
}

.bg-1-soft{
  background-color: #3cb2d3;
}
/* colores renglores tabla */
.escaso{
background-color: #f50707;
}

.necesario{
  background-color: rgb(243, 247, 26);
}

.suficiente{
  background-color: rgb(27, 247, 7);
}

.selected{
  background-color: #079cc5 !important ;
}

/* Formulario */
.contenedor{
  width: 100%;
  padding: 15px;
  background: url(../images/health-industry-cta.jpg);
  background-size: cover;
  background-clip: fixed;
  height: 650px;
}

.formulario{
  margin-top: 150px;
  padding: 3px;
  width: 30%;
  margin-left: 455px;
  opacity: 1;
}

.titulo{
  text-align: center;
  color: #1255e7;
}

.formulario input[type="text"],
.formulario input[type="password"] {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  border: none;
}

.input-contenedor{
  display: block;
  margin-bottom: 15px;
  border: 1px solid rgb(12, 164, 235);
  background: white;
  width: 100%;
}



.icon{
  min-width: 50px;
  text-align: center;
  color: rgba(20, 17, 37, 0.6);
}

.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:#1a2537 ;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover{
  background: cadetblue;
}

.formulario input[type="text"]:focus,
.formulario input[type="password"]:focus{
  border: rgb(235, 128, 7) !important;
  background: rgb(121, 245, 239);
}

/* Menu */
.menu{
  width: 15em;
  background: #415c86;
  height: 600px;
}

.menu ul{
  list-style: none;
  line-height: 42px;
  padding-left: 0;
  margin-top: 4px;
  width: 15em;
}

.menu ul li{
  box-shadow: 3px 0 rgb(8, 27, 116) inset;
  margin-bottom: 5px;
  padding-left: 1.5em;
  transition: .5s;
  -o-transition: 1s;
  -webkit-transition:  .5s linear;
  -webkit-transform:translate3d(0,0,0);
  -transform:translate3d(0,0,0);
}

.menu ul li:hover{
  box-shadow: 15em 0 rgba(255, 255, 255, 0.2) inset;  
  
}

.menu a{
  display: block;
  text-decoration: none;
  color: #ddd;
  width: 100%;
  transition: .4s;
  -o-transition: .5s;
  -webkit-transition:  .5s linear;
}

.menu a:hover{
  text-decoration: none;
  color: rgb(139, 250, 102);
  margin-left: 1em;
}

.menu a:active{
    background-color: white; /*#079cc5 !important;*/
    font-size: 20px;
}

.icon-menu{
  margin-right: 10px;
}

.icon-menu-tab{
  margin-right: 25px;
}

.info-user{
  color: #1255e7;
  font-size: 18px;
  font-weight: 600;
}

/* Bitacora */
.preStyle {
  display: block;
  padding: 10px 30px;
  margin: 0;
  overflow: scroll;
  width: 100% !important;
  
}

.styleBitacora {
  background: #1f4662;
  color: #fff;
  font-size: 16px;
  width: auto;
}

/* Tabla de impresion */

.table-main{
  /*border-collapse: collapse;*/
  width: 100%;
}
.table-0{
    border: 1px solid black !important;
    /*border-collapse: collapse;*/
    width: 100%;
    height: 157px;
    margin-bottom: -3px;
}

.table-1{
  
  border-collapse: collapse;
  width: 100.5%;
  height: 157px;
  margin-bottom: -3px;
  margin-left: -2px;
}

.table-1 td{
  border: 1px solid black;
}

.table-2{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: -3px;
    height: 100px;
  }
  
.table-3{
    border-collapse: collapse;
    width: 100%;
    height: 500px
  }
.table-3 td, th{
  border: 1px solid black;
}

.tbl-cli{
  border:2px solid #1255e7;
  height: 115px;
  overflow: scroll;
  width: 192px;
  cursor: pointer;
  display: block;
  position: absolute;
  background: rgb(226, 240, 250);
  color: rgb(69, 70, 70);
}

.tbl-oc{
  display: block;
  border:2px solid #1255e7;
  background: #b4becb;
  width: 120px;
  height: 55px;
  overflow: scroll;
}

/* Color BackGround Porcentaje*/
.porcentaje-ok{
  text-align: center;
  background: rgb(9, 255, 0);
}

.porcentaje-nok{
  text-align: center;
  background: red;
}

/* Bar Nav para Clientes*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
.barnav-cli{
  background-color: var(--secondary-color);
  color: rgb(34, 89, 238);
  height: 30px;
  margin-top: -15px;
}

.barnav-cli li{
 display: inline;
 margin: 25px;
 padding: 5%;

 margin-left: -15px;
}