.container-gn {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  width: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #047aed;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

.btn:disabled{
  background-color:grey;
  cursor: not-allowed;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-main{
  display: grid;
  grid-template-columns:.1fr 3fr ;
}

.grid-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tbl-lesshead-1{
  margin-bottom: -1px !important;
}

.tbl-lesshead{
  margin-top: -15px !important;
}

.table-ovfl {
  height: 405px;
  overflow: auto;
}

.table-ovfl-user {
  height: 250px;
  overflow: auto;
}

.table-ovfl-of-val{
  height: 250px;
  overflow: auto;
}

.table-ovfl-prddisp {
  height: 200px;
  overflow: auto;
}

.table-ovfl-busq {
  height: 200px;
  overflow: auto;
}

.pointer {
  cursor: pointer;
} 

.header-font {
  font-size: 14px;
  text-align: center  ;
}

.table-lst {
  font-size: 14px;
}

.nav-bg{
  background-color: rgba(188, 221, 229, 0.774);
}

/*Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
